.about-section {
  padding: 5px 20px 40px;
}

.about-card {
  position: sticky;
  top: 100px;
  background-color: var(--box-bg-color);
  color: var(--text-color);
  padding: 40px;
  height: 200px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  z-index: 10;
  border: 0.5px solid var(--accent-color);
}

.about-head{
  color: var(--heading-color);
  font-size: 1.5em;
  margin-top: 0;
}

.about-img {
  max-height: 150px;
  bottom: 30px;
}

.about-align {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

@media (max-width: 768px) {
  .about-section {
    padding: 60px 15px 30px;
  }

  .about-card {
    padding: 20px;
    height: auto;
    margin: 20px auto;
    max-width: 100%;
  }

  .about-img {
    max-height: 120px;
    max-width: 120px;
    bottom: 20px;
  }

  .about-align {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .about-section {
    padding: 50px 10px 20px;
  }

  .about-card {
    padding: 15px;
    margin: 20px auto;
  }

  .about-img {
    max-height: 100px;
    max-width: 120px;
  }
}